<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='/stylesheets/about.css'>
</head>
<body>
    <header>
        <label class="logo"> Profile</label>
        <a href="/" class="button">
            Home
          </a>
    </header>
    <div class="container">
        <h1>Our Team</h1>
        <div class="team">
           
            <div class="team-card">
                <img src="/images/prof.jpg" alt="Content Image 2">
            <div class="content-text">
                <h3>Gian Carlo D. Sinday</h3>
                <h2>About Me</h2><p>Age: 21 yrs old <br> Date of Birth: November 19, 2002<br> Address: 167 lupha gozon Letre Malabon City <br> Gender: Male </p>
            </div>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-google"></i></a>
                  
                </div>
            </div>
            <div class="team-card">
                <img src="/images/ry.jpg" alt="Content Image 1">
               <div class="content-text">
                   <h3>Ryann U. Buhayan</h3>
                   <h2>About Me</h2><p>Age: 20 yrs old <br>Date of Birth: Sept 03, 2004 <br> Address: 110 Kahunari 1 St San Jose Navotas City <br>Gender: Male</p>
               </div>
               <div class="social-icons">
                   <a href="#"><i class="fab fa-facebook"></i></a>
                   <a href="#"><i class="fab fa-instagram"></i></a>
                   <a href="#"><i class="fab fa-google"></i></a>
               </div>
           </div>
            <div class="team-card">
                <img src="/images/t.jpg" alt="Content Image 3">
                <div class="content-text">
                    <h3>Michael D. Tamayo</h3>
                    <h2>About Me</h2><p>Age: 22 yrs old <br>Date of Birth: Aug 22, 2002 <br> Address: 14 Herrera St. Brgy. Ibaba Malabon City <br>Gender: Male</p>
                </div>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-google"></i></a>
                </div>
            </div>
          
        </div>
    </div>
    

 
</body>
</html>