<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/homepage.css' />
</head>
<body>

    <nav class="nav">
        <label class="logo">Our Project</label>
        <ul class="nav-links">
            <li><a href="/aboutus/"> Profile</a></li>
            <li><a href="/contactus/">Contact Us</a></li>
            <li><a href="/indexs/">Quiz</a></li>
        </ul>
    </nav>

    <div class="wd">
        <h1>Welcome to Final Project</h1>
        <br><br>
        <p> "A challenge awaits you in a world where only the most intelligent brains win. Time will be your enemy, questions will test your knowledge, and every decision you make could result in victory or failure. Are you prepared to prove that you are the ultimate quiz champion?"
        </p>
   
   
        

    </div>

</body>
</html>
